<div
  [ngClass]="{
    'sidebar-full': !sidenavCollapsed,
    'sidebar-compact': sidenavCollapsed
  }"
>
  <div class="navigation-panel" fxLayout="column">
    <!-- TODO: Allow customization by organization -->
    <div>
      <div
        class="app-brand"
        [routerLink]="['/home']"
        [ngClass]="{
          'pl-4': !sidenavCollapsed,
          'pl-0': sidenavCollapsed
        }"
      >
        <img
          [ngClass]="{
            hide: !sidenavCollapsed,
            show: sidenavCollapsed
          }"
          src="assets/images/icon.svg"
          alt="app-logo"
          class="app-logo"
        />
        <img
          [ngClass]="{
            show: !sidenavCollapsed,
            hide: sidenavCollapsed
          }"
          src="assets/images/core.png"
          alt="app-logo"
          class="app-logo"
        />
      </div>

      <div class="app-sidenav">
        <div
        class="p-h-8 m-b-20"
        [ngClass]="{
          hide: sidenavCollapsed
        }"
      >
        <mat-accordion>
          <mat-expansion-panel
            (opened)="linksOpenState = true"
            (closed)="linksOpenState = false"
            [ngClass]="{
              transparent: !linksOpenState
            }"
          >
            <mat-expansion-panel-header class="p-h-15">
              <mat-panel-title>
                <img
                  (click)="sidenavCollapsed = false"
                  src="assets/images/Iconsdashbord.svg"
                  alt="Transactions"
                  class="side-icon"
                  width="24"
                  height="24"
                />
                <span
                  [ngClass]="{
                    hide: sidenavCollapsed
                  }"
                  class="pl-19 f14"
                  >
                  {{ 'labels.menus.Quick Links' | translate }}</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              mat-menu-item
              [routerLink]="['/navigation']"
              [routerLinkActive]="'is-active'"
              matTooltip="Navigation"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Navigation' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/checker-inbox-and-tasks/checker-inbox']"
              [routerLinkActive]="'is-active'"
              matTooltip="Checker Inbox and Tasks"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Checker Inbox and Tasks' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/collections/individual-collection-sheet']"
              [routerLinkActive]="'is-active'"
              matTooltip="Individual Collection Sheet"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Individual Collection Sheet' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/notifications']"
              [routerLinkActive]="'is-active'"
              matTooltip="Notifications"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Notifications' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/accounting/journal-entries/frequent-postings']"
              [routerLinkActive]="'is-active'"
              matTooltip="Frequent Postings"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Frequent Postings' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/accounting/journal-entries/create']"
              [routerLinkActive]="'is-active'"
              matTooltip="Create Journal Entry"
              class="f14 h36"
            >
              
              {{ 'labels.menus.Create Journal Entry' | translate }}
            </div>
            <div
              mat-menu-item
              [routerLink]="['/accounting/chart-of-accounts']"
              [routerLinkActive]="'is-active'"
              matTooltip="Chart Of Accounts"
              class="f14 h36"
            >
             
              {{ 'labels.menus.Chart of Accounts' | translate }}
            </div>
            <div mat-menu-item (click)="showKeyboardShortcuts()" matTooltip="Keyboard Shortcuts" class="f14 h36">
             
              {{ 'labels.menus.Keyboard Shortcuts' | translate }}
            </div>
            <div mat-menu-item matListIcon (click)="help()" class="f14 h36">Help</div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
        <mat-nav-list>
          <mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="'is-active'" matTooltip="Dashboard">
            <mat-icon matListIcon>
              <img src="assets/images/Home.svg" alt="daashboard" width="24" height="24" class="side-icon" />
            </mat-icon>
            <a matLine class="f14">{{ 'labels.menus.Dashboard' | translate }}</a>
          </mat-list-item>
          <mat-list-item [routerLink]="['/groups']" [routerLinkActive]="'is-active'" matTooltip="Groups">
            <mat-icon matListIcon>
              <img src="assets/images/Iconsaccounts.svg" alt="Groups" class="side-icon" />
            </mat-icon>
            <a matLine>{{ 'labels.menus.Groups' | translate }}</a>
          </mat-list-item>
          <mat-list-item [routerLink]="['/centers']" [routerLinkActive]="'is-active'" matTooltip="Centers">
            <mat-icon matListIcon>
              <img src="assets/images/Iconstransactions.svg" alt="Centers" class="side-icon" />
            </mat-icon>
            <a matLine>{{ 'labels.menus.Centers' | translate }}</a>
          </mat-list-item>

          <mat-list-item [routerLink]="['/clients']" [routerLinkActive]="'is-active'" matTooltip="Clients">
            <mat-icon matListIcon>
              <img src="assets/images/Iconsclients.svg" alt="Clients" width="24" height="24" class="side-icon" />
            </mat-icon>
            <a matLine>{{ 'labels.menus.Clients' | translate }}</a>
          </mat-list-item>
          <mat-list-item [routerLink]="['/accounting']" [routerLinkActive]="'is-active'" matTooltip="Accounting">
            <mat-icon matListIcon>
              <img src="assets/images/Iconsaccounting.svg" alt="Accounting" width="24" height="24" class="side-icon" />
            </mat-icon>
            <a matLine>{{ 'labels.menus.Accounting' | translate }}</a>
          </mat-list-item>

          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="reportsOpenState = true"
                (closed)="reportsOpenState = false"
                [ngClass]="{
                  transparent: !reportsOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <img
                      (click)="sidenavCollapsed = false"
                      src="assets/images/Iconsreport.svg"
                      class="m-r-3"
                      alt="Admin"
                      width="24"
                      height="24"
                    />
                    <span
                      [ngClass]="{
                        hide: sidenavCollapsed
                      }"
                      class="pl-19 f14"
                      >{{ 'labels.menus.Reports' | translate }}</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div mat-menu-item [routerLink]="['/reports']" [routerLinkActive]="'is-active'" class="f14 h36">
                  All
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Client']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                {{ 'labels.menus.Clients' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Loan']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                {{ 'labels.menus.Loans' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Savings']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                {{ 'labels.menus.Savings' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Fund']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                {{ 'labels.menus.Funds' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/reports', 'Accounting']"
                  [routerLinkActive]="'is-active'"
                  class="f14 h36"
                >
                {{ 'labels.menus.Accounting' | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/xbrl']">{{'labels.menus.XBRL' | translate}}</div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <mat-list-item [routerLink]="['/settings']" [routerLinkActive]="'is-active'" matTooltip="Settings">
            <mat-icon matListIcon>
              <img src="assets/images/Iconssettings.svg" alt="Settings" width="24" height="24" class="side-icon" />
            </mat-icon>
            <a matLine>{{ 'labels.menus.Settings' | translate }}</a>
          </mat-list-item>

          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                [ngClass]="{
                  transparent: !panelOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <img
                      (click)="sidenavCollapsed = false"
                      src="assets/images/Password.svg"
                      class="m-r-3"
                      alt="Admin"
                      width="24"
                      height="24"
                    />
                    <span
                      [ngClass]="{
                        hide: sidenavCollapsed
                      }"
                      class="pl-19 f14"
                      >{{ 'labels.menus.Admin' | translate }}</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div mat-menu-item [routerLink]="['/users']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ 'labels.menus.Users' | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/organization']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ 'labels.menus.Organization' | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/system']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ 'labels.menus.System' | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/products']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ 'labels.menus.Products' | translate }}
                </div>
                <div mat-menu-item [routerLink]="['/templates']" [routerLinkActive]="'is-active'" class="f14 h36">
                  {{ 'labels.menus.Templates' | translate }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div
            class="p-h-8"
            [ngClass]="{
              hide: sidenavCollapsed
            }"
          >
            <mat-accordion>
              <mat-expansion-panel
                (opened)="selfOpenState = true"
                (closed)="selfOpenState = false"
                [ngClass]="{
                  transparent: !selfOpenState
                }"
              >
                <mat-expansion-panel-header class="p-h-15">
                  <mat-panel-title>
                    <img
                      (click)="sidenavCollapsed = false"
                      src="assets/images/Plus.svg"
                      alt="Transactions"
                      class="side-icon"
                      width="24"
                      height="24"
                    />
                    <span
                      [ngClass]="{
                        hide: sidenavCollapsed
                      }"
                      class="pl-19 f14"
                      >{{ 'labels.menus.Self Service' | translate }}</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div
                  mat-menu-item
                  [routerLink]="['/self-service/users']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="User Management"
                  class="f14 h36"
                >
                {{ 'labels.menus.User Management' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/self-service/app-configuration']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="App Configuration"
                  class="f14 h36"
                >
                  App Configuration
                  {{ 'labels.menus.Dashboard' | translate }}
                </div>
                <div
                  mat-menu-item
                  [routerLink]="['/self-service/task-management']"
                  [routerLinkActive]="'is-active'"
                  matTooltip="Task Management"
                  class="f14 h36"
                >
                  Task Management
                  {{ 'labels.menus.Dashboard' | translate }}
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        
        </mat-nav-list>
      </div>
    </div>

    <div class="app-sidenav__bottom">
      <i
        [ngClass]="{
          hide: !sidenavCollapsed,
          show: sidenavCollapsed
        }"
        class="fa fa-user-circle f28 text-grey-3 app-avatar"
        aria-hidden="true"
      ></i>
      <div
        class="side-brand"
        [ngClass]="{
          show: !sidenavCollapsed,
          hide: sidenavCollapsed
        }"
      >
        <i class="fa fa-user-circle f30 app-avatar" style="color:'#808080'" aria-hidden="true"></i>

        <div class="text">
          <p class="name m-b-5"> {{ tenantIdentifier }} / {{ username }}</p>
          <p class="email">{{ officeName }}</p>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #templateFrequentlyAccessed let-popover="popover">
  <h2>{{ 'labels.menus.Frequently Accessed' | translate }}</h2>
  <p class="mw300">This contains shortcut to the frequently accessed components.</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateUserPanel,userPanel,'bottom', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateDashboard,dashboard,'bottom', true);">Next</button>
  </div>
</ng-template>

<ng-template #templateDashboard let-popover="popover">
  <h2>{{ 'labels.menus.Dashboard' | translate }}</h2>
  <p class="mw300">This will navigate the user to dashboard component.</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFrequentlyAccessed,frequentlyAccessed,'bottom', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateNavigation,navigation,'bottom', true);">Next</button>
  </div>
</ng-template>

<ng-template #templateNavigation let-popover="popover">
  <h2>{{ 'labels.menus.Navigation' | translate }}</h2>
  <p class="mw300">This will navigate the user to entity navigation screen.</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateDashboard,dashboard,'bottom', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFrequentPostings,frequentPostings,'top', true);">Next</button>
  </div>
</ng-template>

<ng-template #templateFrequentPostings let-popover="popover">
  <h2>{{ 'labels.menus.Frequent Postings' | translate }}</h2>
  <p class="mw300">Shortcut to Journal entry screen with accouting rules in place</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateNavigation,navigation,'bottom', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateCreateJournalEntry,createJournalEntry,'top', true);">Next</button>
  </div>
</ng-template>

<ng-template #templateCreateJournalEntry let-popover="popover">
  <h2>{{ 'labels.menus.Create Journal Entry' | translate }}</h2>
  <p class="mw300">Shortcut to the create journal entry screen.</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateFrequentPostings,frequentPostings,'top', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateChartOfAccounts,chartOfAccounts,'top', true);">Next</button>
  </div>
</ng-template>

<ng-template #templateChartOfAccounts let-popover="popover">
  <h2>{{ 'labels.menus.Chart of Accounts' | translate }}</h2>
  <p class="mw300">Shortcut to chart of accounts screen to add/modify the ledger accounts.</p>
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="2%" fxLayout.lt-md="column">
    <button mat-raised-button color="warn" (click)="popover.close();configurationWizardService.closeConfigWizard()">Close</button>
    <button mat-raised-button color="primary" (click)="popover.close();showPopover(templateCreateJournalEntry,createJournalEntry,'top', true);">Back</button>
    <button mat-raised-button color="primary" (click)="popover.close();nextStep()">Next</button>
  </div>
</ng-template>

