#footer {
  .divider {
    margin: 2.5rem 1rem 0.5rem;
    width: 4rem;
  }

  .footer-content {
    margin: 0;
  }
}
.sponsor{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-gap: 4px;
  padding: 0 16px;;
}
.sponsor-text{
  text-align: right;
  font-size: 14px;
}
